@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* 
  GLOBAL STYLES
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  font-family: Poppins;
  line-height: 1.6;
  color: white;
  background-color: #212121;
}

main {
  text-align: center;
  padding: 1em;
}

.title {
  font-size: 3rem;
  padding: 0.5em;
}
  
ul {
  list-style: none;
}

a {
  color: white;
  text-underline-offset: 2px;
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
    text-decoration-color: dodgerblue;
  }

  &:active {
    color: dodgerblue;
  }
}

button {
  cursor: pointer;
  padding: 0.5em 0.75em;
  outline: 1px solid white;
  border: 0;
  border-radius: 0.5em;
  color: white;
  background-color: transparent;

  &:hover {
    outline-color: dodgerblue;
    outline-offset: -2px;
  }

  &:active {
    color: dodgerblue;
  }
}

#primary-header {
  display: grid;
  grid-template-columns: 20% auto 20%;
  font-size: 2em;
  inset: 0 0 auto 0;
  padding: 0.5em;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  
  div {
    display: flex;
    align-items: center;
  }
  
  img {
    width: 2em;
    aspect-ratio: 1;
    object-fit: cover;
    border: 2px solid white;
    border-radius: 50%;
  }
  
  h1 {
    min-width: max-content;
    display: inline-block;
    font-size: 1em;
    margin-inline: 0.5em auto;
  }
  
  ul {
    display: flex;
    gap: 1em;
    justify-content: center;
  }
  
  button {
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    font-size: 1em;
    margin-left: auto;
  }
}

.active {
  text-decoration: underline;
}